/* 
general 
-------
*/
body {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1450px;
  padding: 0 15px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  color: yellow;
}

/* card */
.card {
  display: flex;
  justify-content: space-between;
}

/* auth-wrapper */
.auth-wrapper {
  border: 2px solid #000;
}

/* table */
#table-list {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table-list td,
#table-list th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table-list td:nth-child(odd) {
  background-color: #f2f2f2;
}

#table-list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(105, 39, 105);
  color: white;
}

.btnEdit {
  display: block;
  width: 100%;
  background: rgb(127, 44, 160);
  border: none;
  height: 100%;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  width: 100px;
}
.btnDelete {
  display: block;
  width: 100%;
  background: rgb(216, 55, 55);
  border: none;
  height: 100%;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  width: 100px;
}

/* AUTH  */
.btnAuth {
  display: block;
  width: 100%;
  margin: 30px 0;
  background: #1890ff;
  border: none;
  height: 100%;
  padding: 8px 0;
  color: #fff;
  cursor: pointer;
}

.btnAuth:hover {
  background: #4997de;
}

/* button details game */
.btnMode {
  border: 2px solid #fff;
  color: #fff;
  padding: 10px;
}